.container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    height: 100vh;
    background-color: var(--color-blue-darker);
    font-size: 3rem;
}

.button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.sorted {
    text-align: center;
    word-break: break-all;
    width: 100rem;
}